/*css for shopping cart*/

* { margin: 0px;padding: 0px; }
ul { list-style-type: none; }
body { font: 15px Tahoma; }
.textboxes { border: solid 1px #747462; }
.buttons { background-color: white;color: #747462;border: solid 1px #747462;padding: 2px 20px; }

/*header styles*/
#header { width:1024px;height: 40px;position:relative;margin: 1px auto;background-color: #e5e5e3;border: solid 1px #747462; }
#header ul { margin-top: 16px;position:absolute; }
.tab_links { float:left;width: 200px; }
.tab_links a { text-decoration: none;margin: 2px 4px 1px;padding: 5px 50px;width: 200px;background-color:white;color: #747462;text-align: center;border-top: solid 1px #747462;border-left:solid 1px #747462;border-right: solid 1px #747462;border-bottom: none; }
.tab_links a:hover {background-color: #e5e5e3;font-weight: bold;margin: 2px 2px 0px;padding: 5px 47px;border-bottom: solid 1px #e5e5e3; }
/*header ends*/

/*products styles*/
.content_page { width:1020px;margin: 0px auto;position:relative; }
#items ul li { padding:5px 5px 10px;background-color: #e5e5e3;margin: 2px;height: 40px; }
.listitem { padding-top:5px 5px 10px 5px;margin:2px;background-color:#e5e5e3;height:115px;width:1010px;display:table; }
.listitem .imagecell { display:table-cell;width:100px; }
.listitem img.prod_image { height:100px;display:inline;margin:2px;padding-top:10px;padding-left:10px; }
.listitem .infocell { display:table-cell;width:400px;vertical-align:top;padding-top:10px; }
.listitem .caption_label { padding-top:2px;padding-bottom:2px;margin-left:2px;width:300px; }
.listitem .categorylabel { color:#747462;margin-left:5px;display:block;padding-bottom:2px;padding-top:2px; }
.listitem .describe { padding:2px;font-size:12px;text-align:justify;color:#747462;display:block;margin-left:5px; }
.listitem .pricelabel { display:inline;margin-left:5px;padding-top:2px; }
.listitem .itemprice { padding-top:2px;display:inline; }
.listitem .quantitycell { display:table-cell;width:100px;vertical-align:top;padding-top:10px;padding-left:20px; }
.listitem .quantitybox { border:solid 1px #747462;width:30px; }
.listitem .addToCartCell { display:table-cell;vertical-align:top;padding-top:10px;padding-left:10px;width:105px; }
.listitem .addToCartButton { background-color:white;color:#747462;border:solid 1px #747462;padding-top:2px;padding-bottom:2px;width:100px; }

/*cart page styles*/
#cart li, #cartheadings li { padding:5px 5px 10px;background-color: #e5e5e3;margin: 2px;height: 40px;width: 1010px; }
#cartheadings span { display: table-cell;width:120px;text-align: center; }
#cartheadings span.big { width:445px;text-align: left; }
#cart-section .showProductCell { width:450px;display:table-cell;margin-right:1px;vertical-align:top; }
#cart-section .showImage { width:50px;height:40px;border:solid 1px #747462;margin:2px;float: left; }
#cart-section .showCaption { width:350px;float: left;font-weight: bold;font-size: 12px; }
#cart-section .showPriceCell, #cart-section .showSubtotalCell { width:150px;display:table-cell;text-align: center; }
#cart-section .showQuantityCell { display:table-cell;margin-left:1px;width:72px; }
#cart-section .showQuantity { width:50px;}
#cart-section .removeButtonCell { display:table-cell;margin-left:1px; }
#cart-section .showListItem { width:1010px;background-color:#e5e5e3;margin-top:2px;display:table; }

/*footer styles*/
#footer { background-color: #e5e5e3;border: solid 1px #747462;height: 50px;width: 1024px;margin: 0px auto; }
#footer #total_name { float:right;margin: 10px;padding:5px; }
#footer #totalprice { width:100px;height: 30px;float:right;margin: 10px;border: solid 1px #747462;color:black; }
#footer #outButton { background-color: #616152;color: white;float:right;margin:5px 10px 5px 5px;padding: 5px 15px; }

/*search bar styles*/
#search_options { background-color: #e5e5e3;padding:2px 5px; }