#container { width:500px; height:100px; overflow:auto; border:solid 1px #ededed; }
#container ul li { width:100%; float:left; line-height:25px; }
#container ul { list-style-type:none; }
#container ul li input{ float:left; }